<%= form_with(model: utility, class: "contents") do |form| %>
  <% if utility.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(utility.errors.count, "error") %> prohibited this utility from being saved:</h2>

      <ul class="list-disc ml-6">
        <% utility.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="h-full flex justify-center">
    <div class="w-4xl flex flex-col gap-y-5">
      <div>
        <%= form.label :name %>
        <%= form.text_field :name, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": utility.errors[:name].none?, "border-red-400 focus:outline-red-600": utility.errors[:name].any?}] %>
      </div>

      <div >
        <%= form.label :utility_type %>
        <%= form.text_field :utility_type, class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": utility.errors[:utility_type].none?, "border-red-400 focus:outline-red-600": utility.errors[:utility_type].any?}] %>
      </div>

      <%= form.hidden_field :room_id, value: @room.id %>
      
      <div >
        <%= form.label :status %>
        <%= form.select :status, 
          Utility.statuses.keys.map { |status| [status.humanize, status] }, 
          {},
          class: ["block shadow-sm rounded-md border px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": utility.errors[:status].none?, "border-red-400 focus:outline-red-600": utility.errors[:status].any?}]
        %>
      </div>

      <div class="inline">
        <%= form.submit class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
      </div>
    </div>
    </div>

<% end %>
